/* 4 Animation --------------------*/
.fade-in {
  animation: fade-in 0.5s ease 0s 1 forwards normal;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    // display: block;
  }
}

.fade-out {
  animation: fade-out 0.5s ease 0s 1 forwards normal;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
    display: block;
  }

  70% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes load {
  0% {
    opacity: 0.5;
    // background:  rgba(255, 255, 255, 0.2);
  }
  50% {
    opacity: 0.8;
    // background:  rgba(255, 255, 255, 0.5);
  }
  100% {
    opacity: 0.5;
    // background:  rgba(255, 255, 255, 0.7);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }

  10% {
    transform: translateY(0%);
  }

  30% {
    transform: translateY(0%);
  }

  40% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes pagetop {
  0% {
    transform: translateY(100%);
  }
  10% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-out {
  0% {
    right: 100%;
  }
  20% {
    right: 0%;
  }
  80% {
    right: 0%;
  }
  100% {
    right: -100%;
  }
}

@keyframes bg-gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
