/* ------------------------------------------------------ */
/*
 * Entry
 */

.entry-area {
  .m-join {
    background: #82be28;
    padding: 80px 0;
    position: relative;
    overflow: hidden;
    display: block;
    text-decoration: none;

    .section__body {
      width: 1024px;
      margin: 0 auto;
      .m-joinInner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        .m-join__ttl {
          font-family: "Montserrat", "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
            Meiryo, "ＭＳ Ｐゴシック", sans-serif;
          font-weight: 700;
          color: #ffffff;
          font-size: 4.3rem;
        }

        .m-join__btn {
          width: 280px;
          a.c-btn {
            font-size: 1.8rem;
            transition: all 0.6s ease;
            box-sizing: border-box;
            display: inline-block;
            text-decoration: none;
            position: relative;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            outline: 0;
            appearance: none;
            border: 1px solid transparent;
            font-weight: 700;
            min-width: 28rem;
            padding: 2.4rem 0;
            line-height: 1;
            box-sizing: border-box;
            color: #82be28;
            text-align: center;
            background: #fff;
            border-color: #ffffff;
            border-radius: 0.4rem;
            overflow: hidden;
            font-size: 1.6rem;
          }
          a.c-btn:hover {
            color: #ffffff;
            background: transparent;
            text-decoration: none;
            border: 1px solid #ffffff;
          }
        }
      }
    }
  }
  .m-join:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 118.4rem;
    height: 29.3rem;
    background: url(../img/join.svg) no-repeat center center;
    background-size: contain;
  }
}
// Tablet
@media (max-width: 1024px) {
  .entry-area {
    .section__body {
      width: 100%;
      margin: 0;
      padding: 0 20px;
    }
  }
}

// SP
@media (max-width: 768px) {
  .entry-area {
    .m-join {
      padding: 64px 0;
      .section__body {
        width: 100%;
        margin: 0 0;
        padding: 0 20px;
        .m-joinInner {
          display: block;
          .m-join__ttl {
            font-size: 3.6rem;
            text-align: center;
          }

          .m-join__btn {
            width: 100%;
            a.c-btn {
              width: 100%;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
    .m-join:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(118.4rem / 2);
      height: calc(29.3rem / 2);
      background: url(../img/join.svg) no-repeat center center;
      background-size: contain;
    }
  }
}
