/* ------------------------------------------------------ */
/*
 *  Footer
 */

#footer {
  width: 100%;
  position: relative;
  z-index: 2;
  background: #222629;
  color: #ffffff;
  overflow: hidden;

  .footerInner {
    width: 1024px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer__col:first-child {
      width: 400px;

      .contact__ttl {
        font-size: 2rem;
        font-weight: 700;
      }
      .contact__btn {
        margin-top: 3rem;
        .c-btn {
          border: 1px solid rgba(255, 255, 255, 0.4);
          background: none;
          width: 100%;
          min-width: 0;
          font-size: 1.8rem;
          transition: all 0.6s ease;
          box-sizing: border-box;
          display: inline-block;
          text-decoration: none;
          position: relative;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          outline: 0;
          appearance: none;
          font-weight: 700;
          min-width: 28rem;
          padding: 2.4rem 0;
          line-height: 1;
          box-sizing: border-box;
          color: #fff;
          text-align: center;
          border-radius: 0.4rem;
          overflow: hidden;
          font-size: 1.6rem;

          &:hover {
            border-color: #fff;
            background: none;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    .footer__col:last-child {
      width: 360px;
      .sns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .sns__ttl {
          font-weight: 700;
        }
        .sns__list {
          display: flex;
          align-items: center;
          position: relative;
          width: 72px;

          li + li {
            margin-left: 12px;
          }
          a {
            display: block;
            width: 30px;
            height: 30px;
            text-decoration: none;
            position: relative;
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }

      .company {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding-top: 3.5rem;
        margin-top: 3.5rem;

        .company__logo {
          transition: none;
          display: block;
          overflow: hidden;
          text-indent: -5260px;
          width: 20rem;
          background: url(../img/logo_foot.svg) no-repeat center center;
          background-size: contain;
        }

        .company__copyright {
          font-size: 1.2rem;
          text-align: right;
        }
      }
    }
  }

  #page-top {
    position: absolute;
    z-index: 8;
    bottom: 40px;
    right: 20px;
    width: 20px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    a {
      text-decoration: none;
      height: 8rem;
      width: 2rem;
      transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
      display: block;
      .txt {
        color: #ffffff;
        // font-family: "Montserrat", "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
        //   "ＭＳ Ｐゴシック", sans-serif;
        font-family: $type-family-jp;
        font-weight: 400;
        letter-spacing: 0.2rem;
        white-space: nowrap;
        display: block;
        transform: rotate(90deg);
        font-size: 1.4rem;
      }
      .arw {
        display: block;
        width: 1px;
        height: 5.5rem;
        position: absolute;
        left: 50%;
        margin-left: -1px;
        top: -6.5rem;
        overflow: hidden;
      }
      .arw:before {
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        height: 100%;
        background: #ffffff;
        animation: pagetop 2s ease-in-out infinite normal;
      }
    }
  }

  #page-top.show a {
    bottom: 3rem;
  }
}

// Tablet
@media (max-width: 1024px) {
  #footer {
    .footerInner {
      width: 100%;
      margin: 64px 0;
      padding: 0 20px;
    }
    #page-top {
      display: none;
    }
  }
}

// SP
@media (max-width: 768px) {
  #footer {
    .footerInner {
      width: 100%;
      margin: 64px auto;
      display: block;

      .footer__col:first-child {
        width: 100%;
        text-align: center;

        .contact__ttl {
          font-size: 2rem;
        }
        .contact__btn {
          margin: 24px 0;
          padding: 0 32px;

          .c-btn {
            width: 100%;
          }
        }
      }
      .footer__col:last-child {
        width: 100%;
        text-align: center;
        .sns {
          width: 100%;
          display: block;

          .sns__list {
            width: 72px;
            margin: 16px auto;
          }
        }

        .company {
          display: block;
          text-align: center;
          border-top: none;
          padding-top: 0;
          margin-top: 64px;

          .company__logo {
            width: 100%;
            display: block;
            text-indent: -5260px;
            // width: 20rem;
            text-align: center;
            margin-bottom: 8px;
          }

          .company__copyright {
            font-size: 1.2rem;
            text-align: center;
          }
        }
      }
    }

    #page-top {
      display: none;
    }
  }
}

// @media only screen and (max-width: 768px) {
//   .footer {
//     padding: 8rem 0;
//     text-align: center;
//   }

//   .footerInner {
//     display: block;
//   }

//   .footer__col {
//     width: 100%;
//   }

//   .footer__col:first-child {
//     width: 100%;
//   }

//   .footer__col .sns {
//     margin-top: 4.5rem;
//     display: block;
//   }

//   .footer__col .sns__ttl {
//     font-size: 1.4rem;
//     margin-bottom: 1rem;
//   }

//   .footer__col .sns__list {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     position: relative;
//   }

//   .footer__col .sns__list li + li {
//     margin-left: 2rem;
//   }

//   .footer__col .sns__list a {
//     width: 4.5rem;
//     height: 4.5rem;
//   }

//   .footer__col .sns__list a:before {
//     font-size: 4.5rem;
//   }

//   .footer__col .company {
//     display: block;
//     border: none;
//     padding-top: 0;
//     margin-top: 4rem;
//   }

//   .footer__col .company__logo {
//     margin: 0 auto;
//   }

//   .footer__col .company__copyright {
//     margin-top: 0.3rem;
//   }
// }

// @media only screen and (max-width: 768px) {
//   #page-top {
//     display: none;
//   }
// }

// @media only screen and (max-width: 414px) {
//   .footer {
//     padding: 6rem 0 8rem;
//   }

//   .footer__col .contact__ttl {
//     font-size: 1.8rem;
//   }
// }
