/* --------------------------- */
/*
 * Common Style
 */
html {
    font-size: 62.5%;
}

/* 10px */
body {
    margin: 0;
    font-family: $type-family-jp;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.8;
    color: $type-color-main;
    background-color: $primary;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $type-family-jp;
    font-weight: 700;
    line-height: 1.4;
    color: inherit;
    letter-spacing: 0.1rem;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }
}

p {
    margin-top: 0;
    font-family: $type-family-jp;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    p {
        font-size: 1.3rem;
    }
}

a {
    color: $type-color-link;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

    &:visited {
        color: $type-color-link;
    }

    &:hover {
        color: $type-color-link;
        text-decoration: underline;
    }
}

div,
header,
footer,
nav,
main,
section,
ul,
dl,
p {
    width: 100%;
    box-sizing: border-box;
}

li,
ol,
ul {
    list-style: none;
}

dd,
dl,
dt {
    margin: 0;
    padding: 0;
}

table,
tr,
td,
th {
    box-sizing: border-box;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

section {
    position: relative;
    width: 100%;
    padding: 80px 0;
    .section-container {
        width: 1024px;
        margin: 0 auto;
        padding: 0;
    }
}

@media (max-width: 768px) {
    section {
        position: relative;
        width: 100%;
        padding: 64px 0;

        .section-container {
            width: 100%;
            margin: 0;
            padding: 0 20px;
        }
    }
}

#bg1 {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
    background: $primary; /* Old browsers */
    background: linear-gradient(315deg, #b65bf1, #55cfea, #2fe6c5);
    background-size: 200% 200%;
    animation: bg-gradient 10s infinite;
}

#WebGL-output {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -20;
    opacity: 0;
    animation: fade-in 3s 5s forwards;
}

// #WebGL-output.ie {
//     background: url(../img/bg_ie.png) center bottom no-repeat;
// }

#stage {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
    transition: all 2s 0.4s ease-out;
    background-color: rgba(0, 0, 0, 0);
}

#stage.in {
    background-color: rgba(0, 0, 0, 0.7);
}
